<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<launch>
	<arg name="bag" default="" />
	<param name="/use_sim_time" value="true" />
	<node type="rviz" name="rviz" pkg="rviz" output="screen" args="-d $(find annotate)/launch/demo.rviz" />
	<node pkg="rosbag" type="play" name="playback" output="screen" args="--clock --quiet $(arg bag)" if="$(eval bag != '')" />
</launch>
