<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<launch>
	<arg name="bag" default="" />
	<arg name="labels" default="person,car,motorcycle,bicycle" />
	<arg name="annotations" default="annotate.yaml" />
	<arg name="pointcloud_topic" default="/velodyne_points" />
	<arg name="ignore_ground" default="false" />
	<include file="$(find annotate)/launch/annotate.launch">
		<arg name="labels" value="$(arg labels)" />
		<arg name="annotations" value="$(arg annotations)" />
		<arg name="pointcloud_topic" value="$(arg pointcloud_topic)" />
		<arg name="ignore_ground" value="$(arg ignore_ground)" />
	</include>
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find annotate)/launch/demo.rviz" />
	<node pkg="rosbag" type="play" name="playback" output="screen" args="--clock $(arg bag)" if="$(eval bag != '')" launch-prefix="xterm -e" />
</launch>
